<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="ui.Editor"
            default="true"
            extensions="txt"
            icon="icons/sample.png"
            id="MiMusEditor.mimusEditor"
            name="MiMus Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="MiMusEditor.mimus"
            name="MiMus">
      </category>
      <view
            category="MiMusEditor.mimus"
            class="ui.BiblioView"
            icon="icons/sample.png"
            id="MiMusEditor.biblioView"
            name="Biblio View"
            restorable="true">
      </view>
      <view
            category="MiMusEditor.mimus"
            class="ui.ArtistaView"
            icon="icons/sample.png"
            id="MiMusEditor.artistaView"
            name="Artista View"
            restorable="true">
      </view>
      <view
            category="MiMusEditor.mimus"
            class="ui.InstrumentView"
            icon="icons/sample.png"
            id="MiMusEditor.instrumentView"
            name="Instrument View"
            restorable="true">
      </view>
      <view
            category="MiMusEditor.mimus"
            class="ui.CasaView"
            icon="icons/sample.png"
            id="MiMusEditor.casaView"
            name="Casa View"
            restorable="true">
      </view>
      <view
            category="MiMusEditor.mimus"
            class="ui.PromotorView"
            icon="icons/sample.png"
            id="MiMusEditor.promotorView"
            name="Promotor View"
            restorable="true">
      </view>
      <view
            category="MiMusEditor.mimus"
            class="ui.OficiView"
            icon="icons/sample.png"
            id="MiMusEditor.oficiView"
            name="Ofici View"
            restorable="true">
      </view>
      <view
            category="MiMusEditor.mimus"
            class="ui.LlocView"
            icon="icons/sample.png"
            id="MiMusEditor.llocView"
            name="Lloc View"
            restorable="true">
      </view>
      <view
            category="MiMusEditor.mimus"
            class="ui.DocumentsView"
            icon="icons/sample.png"
            id="MiMusEditor.documentsView"
            name="Documents View"
            restorable="true">
      </view>
      <view
            category="MiMusEditor.mimus"
            class="ui.GenereLiterariView"
            icon="icons/sample.png"
            id="MiMusEditor.genereView"
            name="Genere Literari View"
            restorable="true">
      </view>
   </extension>

</plugin>
