<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="ui.Editor"
            default="false"
            extensions="txt, xml"
            icon="icons/sample.png"
            id="MiMusEditor.mimusEditor"
            name="MiMus Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="MiMusEditor.mimus"
            name="MiMus">
      </category>
      <view
            category="MiMusEditor.mimus"
            class="ui.BiblioView"
            icon="icons/sample.png"
            id="MiMusEditor.biblioView"
            name="Biblio View"
            restorable="true">
      </view>
      <view
            category="MiMusEditor.mimus"
            class="ui.QueryView"
            icon="icons/sample.png"
            id="MiMusEditor.queryView"
            name="Query View"
            restorable="true">
      </view>
   </extension>

</plugin>
